/* LISTE INLINE */

li {
  list-style: none;
}

.inline-menu li {
  display: inline-block;
  padding-left: 20px;
}

/* HEADER */

header.container-fluid {
  min-height: 100px;
  text-transform: uppercase;
  color: white;
  background-color: #2C3E50;
}

header {
  line-height: 100px;
}

/* MAIN */

/* MAIN-HEADER */

main .main-header.container-fluid {
  min-height: 300px;
  text-transform: uppercase;
  color: white;
  background-color: #1ABC9C;
}

main .main-header .row {
  text-align: center;
}

main .main-header .row [class*="col-"] {
  margin-bottom: 20px;
}

main .main-header .row img {
  text-align: center;
  margin-top: 50px;
  height: 250px;
}

main .main-header .divider-line {
  display: inline-block;
  height: 2px;
  width: 20%;
  margin: 0 10px;
  background-color: white;
}

/* MAIN-CONTENT */

main .main-content.container-fluid {
  min-height: 300px;
  text-transform: uppercase;
  color: #333333;
  background-color: white;
}

main .main-content.container-fluid .portfolio-cards img {
  width: 100%;
  border-radius: 10px;
  padding: 1%;
}