/* GLOBALI */
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.sc-bg-mint {
  background-color: #1ABC9C;
  color: white;
}

.sc-bg-mint a {
  color: white;
}

.sc-bg-mint .divider-line {
  background-color: white;
}

.sc-w-80 {
  width: 80%;
  margin: auto;
}

.sc-w-60 {
  width: 60%;
  margin: auto;
}

.sc-padding-30 {
  padding: 30px 0;
}

.sc-margin-bottom-20 {
  margin-bottom: 20px;
}

.sc-margin-bottom-50 {
  margin-bottom: 50px;
}

/* LISTE INLINE */

li {
  list-style: none;
}

.inline-menu li {
  display: inline-block;
  padding-left: 15px;
}

/* BUTTONS */

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #1ABC9C;
}

.btn-menu {
  margin-top: 35px;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
}

.btn-menu i {
  font-size: 10px;
  line-height: 30px;
}

/* DIVIDER LINE */

.divider-line {
  display: inline-block;
  height: 2px;
  width: 20%;
  max-width: 150px;
  margin: 0 10px;
  background-color: #333333;
}

/* HEADER */

.sc-header-top{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  color: white;
  background-color: #2C3E50;
}

.sc-header-bottom{
  min-height: 300px;
  margin-top: 80px;
}

.sc-jumbotron{
  max-width: 800px;
  min-height: 300px;
  margin: 0 auto;
}

.sc-jumbotron .row img {
  margin-top: 50px;
  height: 250px;
}

/* PORTFOLIO */

.sc-box img {
  width: 100%;
  border-radius: 20px;
  margin-top: 30px;
}

/* ABOUT */

/* CONTACT */

input, textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

footer {
  color: white;
}

footer .row {
  margin-top: 50px;
}

footer .logos {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid white;
}


.sc-footer-top{
  background-color: #3A546D;;
}
.sc-footer-bottom{
  background-color: #2C3E50;
}